
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="static/bootstrap.min.js"></script>

<!-- ROSLIBJS -->
<!-- EventEmitter2 is the sole dependency of roslibjs -->
<script src="static/eventemitter2.js"></script>
<!-- Roslibjs handles core ROS functionality in the browser -->
<script src="static/roslib.js"></script>

<!-- ROS2DJS -->
<!-- EaselJS is a dependency of ros2djs -->
<!--<script src="static/ros2djs/include/EaselJS/easeljs.js"></script>-->
<!-- Ros2djs provides 2D scene support, including mapping and more -->
<!--<script src="static/ros2djs/build/ros2d.js"></script>-->


<style type="text/css">
.darkenBackground {
	height: 100%;
	width: 100%;
	position:fixed;
	top: 0px;
	left: 0px;
	background-color: rgb(0, 0, 0);
	background-repeat:repeat;
	opacity: 0.7;
	-moz-opacity: 0.70;
	filter: alpha(opacity=70);
	z-index: 20;
	display: none;
}
</style>

<script type="text/javascript">
	var hostname = location.hostname;
	
	// Connecting to ROS.
	var ros = new ROSLIB.Ros({
		url: 'ws://' + hostname + ':9090'
	});
	var mappingClient = new ROSLIB.ActionClient({
		ros : ros,
		serverName : '/ptu_pan_tilt_metric_map',
		actionName : 'scitos_ptu/PanTiltAction'
	});

	var sweep_goal = new ROSLIB.Goal({
		actionClient : mappingClient,
		goalMessage : {
			pan_start:-150,
			pan_step:60,
			pan_end:160,
			tilt_start:-30,
			tilt_step:20,
			tilt_end:30
		}
	});

	// Flag to say if the "result" should be ignored as user clicked stop
	aborted = 0;

	sweep_goal.on('feedback', function(feedback) {
		console.log('Feedback: ' + feedback);
	});

	sweep_goal.on('result', function(result) {
		console.log('Final Result: ' + result.success);
		if (aborted != 1) {
			// Look at the result and decide which screen
			if (result.success) {
				switch_view("success");
			} else {
				switch_view("fail");
			}
		}
	});


	//assume not paused during start-up, need a way initialise this correctly though

	var transition_complete=0;

	function trans_progress(transition_delay) {
		transition_complete+=10;
		console.log(transition_complete);
		jQuery("#transition-progress").css("width", transition_complete.toString()+"%");
		if (transition_complete < 100) {
			setTimeout(trans_progress, transition_delay/10);
		}
	}		

	function switch_view(page, transition_delay) {
		transition_delay = typeof transition_delay !== 'undefined' ? transition_delay : 0;
		console.log("Switching page to:");
		console.log(page);
		if (transition_delay>0){
			jQuery("#transition-progress").css("width", "0%");
			jQuery("#transition-screen").show();	
			// get progress bar centred
			jQuery('.very_centre').css({
				position:'absolute',
				width: 300,
				height: 60,
				left: (jQuery(window).width() - 300)/2,
				top: (jQuery(window).height() - 60)/2,
			});
			setTimeout(function(){switch_view(page, 0);},transition_delay);
			transition_complete=-10;
			trans_progress(transition_delay);
			return;
		}
		jQuery("#transition-screen").hide();			
		jQuery("#action-initiator").hide();		
		jQuery("#action-tracker").hide();
		jQuery("#action-success").hide();
		jQuery("#action-fail").hide();

		jQuery("#action-"+page).show();

		if (page=="tracker") {
			// Subscribe to camera stream
			jQuery("#image_view").attr("src", "http://" + hostname + 
								":8181/stream?topic=/head_xtion/rgb/image_color");
		} else {
			// Make sure not streaming images
			jQuery("#image_view").attr("src", "");
		}
	}
	
	function cancel_search() {
		console.log("Canceling action..");
		aborted = 1;
		sweep_goal.cancel();
		switch_view("initiator",8000);
	}

	function start_search() {
		console.log("Starting action...");
		aborted	= 0;	
		
		console.log(sweep_goal);
		console.log("Sending goal...");
		sweep_goal.send();
		switch_view("tracker");
	}

	function on_finished_button_click() {
		switch_view("initiator", 3000);
	}


</script>

<!-- SCREEN Transition -->
<div class="darkenBackground" id="transition-screen">
	<div class="very_centre">
		<div class="row">
			<div class="col-xs-12">
				<h6>Please wait...</h6>
			</div>
		</div>

		<div class="progress progress-striped active" style="z-index: 40; opacity: 1.0; -moz-opacity: 1.0;
		filter: alpha(opacity=100);">
		  <div class="progress-bar progress-bar-info" role="progressbar" id="transition-progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" 
				style="width: 100%">
		  </div>
		</div>
	</div>
</div> 


<!-- SCREEN 1: starter -->
<div class="container" id="action-initiator">
	<a href="/">Back to Control Centre</a>
    <div class="row">
        <div class="col-xs-12">
            <h3>Metric Map Creator</h3>
            <hr>
        </div>
    </div>

    <div class="row" id="last_result">
        <div class="col-xs-12" id="last_result_data">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <!-- Go button -->
            <button type="button" onclick="start_search()" id="start-btn"
                    class="btn-lg btn-default btn-block btn-primary">Perform Room Scan
            </button>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</div>

<!-- SCREEN 2: progress -->
<div class="container" id="action-tracker" style="display: none"> <!-- tracks the progress of the current search -->
    <div class="row">
        <div class="col-xs-12">
            <h3>Scanning...
            <hr>
        </div>
    </div>
	
	<div class="row">
	  <div class="col-xs-12" align="center">
		<img src="" alt="Robot View" id="image_view"></img> 
	  </div>
	</div>

	<!-- Buttons -->
    <div class="row" id="action-tracker-active-buttons">
		<div class="col-xs-4"> </div>
        <div class="col-xs-4">
            <!-- Cacel button -->
            <button type="button" onclick="cancel_search()" id="cancel-btn"
                    class="btn-lg btn-default btn-block btn-primary">Cancel
            </button>

        </div>
		<div class="col-xs-4"> </div>
    </div>
</div>

<!-- SCREEN 3: success -->
<div class="container" id="action-success" style="display: none"> 
	<a href="/">Back to Control Centre</a>
	<div class="row">
        <div class="col-xs-12">
            <h3>Scan Complete</h3>
            <hr>
        </div>
    </div>

	<!-- Buttons when search is over. -->
    <div class="row" id="action-tracker-inactive-buttons">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <!-- Restart button -->
            <button type="button" onclick="on_finished_button_click()" id="finished-btn"
                    class="btn-lg btn-default btn-block btn-primary">
					Done
            </button>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</div>

<!-- SCREEN 4: fail. -->
<div class="container" id="action-fail" style="display: none"> 
	<a href="/">Back to Control Centre</a>
	<div class="row">
        <div class="col-xs-12">
            <h3>Scan Failed</h3>
            <hr>
        </div>
    </div>

	<!-- Buttons when search is over. -->
    <div class="row" id="action-tracker-inactive-buttons">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <!-- Restart button -->
            <button type="button" onclick="on_finished_button_click()" id="finished-btn"
                    class="btn-lg btn-default btn-block btn-primary">
					Done
            </button>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</div>


</body>
</html>