$def with (scan_file)

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="static/bootstrap.min.js"></script>

    
<div class="container">    
        
    <a href="/">Back to Control Centre</a>
        
    <h3>$scan_file shown in RViz</h3>
    <p>If the cloud is not visible, maybe a network delay caused a problem.
    Make sure that RViz is subscribed to the PointCloud2 topic <tt>/cloud_pcd</tt></p>    
</div>